<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../components/head') %>
        <link rel="stylesheet" href="/style/dist/style.css">
</head>

<body>
    <main class="notFound">
        <div class="notFound__text">
            <h1>It looks like you're lost..</h1>
            <p>The page you are looking for no longer exists.</p>
        </div>

        <img class="notFound__img" src="/image/404/minion.jpeg" />
    </main>

</body>

</html>