@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import './var/vars';

@import './index/index';
@import './rememb/index';
@import './reset/index';
@import './navbar/index';
@import './profile/index';

//MEDIA-QUERY
@import "./index/media";
@import "./navbar/media";
@import "./rememb/media/mediaIndex";

* {
    font-family: 'Itim', cursive;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;

}

img {
    width: 100%;
}

input {
    outline: none;
}

.alert {
    position: absolute;
    top: -13%;
    font-size: 1.3rem;
    padding: 0.5% 0%;
    width: 90%;
    color: red;
}