@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import './var/vars';

@import './index/index';
@import './rememb/index';
@import './reset/index';
@import './navbar/navbar';

* {
    font-family: 'Itim', cursive;
}

html,
body {
    margin: 0;
    padding: 0;

}

input {
    outline: none;
}

.alert {
    position: absolute;
    top: -13%;
    font-size: 1.3rem;
    padding: 0.5% 0%;
    width: 90%;
    color: red;
}