@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.moto {
  font-size: 3rem;
  color: white;
  text-shadow: 0px 0px 5px black;
  position: relative;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  width: 50%;
  margin: 0 auto;
}

.login {
  position: relative;
  top: 12%;
  text-align: center;
}

.reg {
  position: relative;
  top: 3%;
  text-align: center;
}

.container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(60%, rgba(0, 0, 0, 0.1))), url("../image/task1.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) 60%), url("../image/task1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
}

.container__logReg {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  background-color: #ced7d8c2;
  border-radius: 0.5rem;
  height: 45vh;
}

.container__logReg--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 2%;
}

.container__logReg--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 5%;
}

.container__logReg--form > h2 {
  padding: 0;
  margin: 0 0 1% 0;
}

.container__logReg--form > input,
.container__logReg--form > button {
  font-size: 1.1rem;
  text-align: center;
  padding: 1.5% 0%;
  margin: 2% 0%;
  border-radius: 0.5rem;
  border: none;
}

.container__logReg--form > button {
  background-color: #ede6b9;
  color: #316879;
}

.container__logReg--form > button:hover {
  background-color: #829079;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.btnLogin,
.btnReg {
  border-radius: 0.5rem;
  padding: 1.5% 0%;
  width: 30%;
  text-align: center;
  background-color: #ede6b9;
  color: #316879;
  cursor: pointer;
}

.btnLogin:hover,
.btnReg:hover {
  background-color: #b9925e;
  color: white;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.active {
  background-color: #b9925e;
  color: white;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
}

.createdBy {
  position: absolute;
  top: 95%;
  left: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 16%;
}

.createdBy > a {
  text-decoration: none;
  margin: 0% 2%;
  font-size: 1.1rem;
  color: white;
  text-shadow: 0px 0px 4px black;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.leftSide,
.containerTasks {
  height: 94.6vh;
}

.leftSide {
  background-color: #4a536b;
  width: 20%;
  text-align: center;
}

.leftSide__helloUser {
  color: white;
  font-size: 2.5rem;
  margin-top: 5%;
}

.containerTasks {
  width: 80%;
  background-color: #aed6dc;
  margin: 0;
}

.formAddRemembr {
  position: relative;
  left: 23%;
  width: 60%;
  margin: 3% 0%;
}

.taskAdd {
  width: 80%;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  border: none;
}

.taskAdd::-webkit-input-placeholder {
  font-size: 1.2rem;
}

.taskAdd:-ms-input-placeholder {
  font-size: 1.2rem;
}

.taskAdd::-ms-input-placeholder {
  font-size: 1.2rem;
}

.taskAdd::placeholder {
  font-size: 1.2rem;
}

.taskSend {
  width: 10%;
  border-bottom-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  position: relative;
  right: 1%;
  font-size: 1.2rem;
}

.taskAdd,
.taskSend {
  padding: 0.8% 1.2%;
  font-size: 1rem;
  border: none;
}

.remembers_tasks {
  overflow-y: auto;
  height: 80vh;
}

.eachTask {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  margin: 0.5% auto;
}

.eachTask__content {
  font-size: 1.2rem;
  margin: 0% auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eachTask__content--text {
  width: 50%;
  padding: 0% 2%;
}

.eachTask__content--date {
  text-align: center;
  position: relative;
  top: 1.5vh;
  left: 21%;
  font-size: 0.9rem;
  width: 28%;
}

* {
  font-family: 'Itim', cursive;
}

html,
body {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

.navbar {
  background-color: #ede6b9;
  padding: 0.8% 0%;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__timeNow, .navbar__dateNow {
  margin: 0% 1%;
  width: 7%;
  text-align: center;
}

.navbar__link {
  position: relative;
  left: 75%;
  text-decoration: none;
  border-radius: 0.6rem;
  padding: 0.3% 0.5%;
}

.navbar__link:hover {
  background-color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.alert {
  position: absolute;
  top: -13%;
  font-size: 1.3rem;
  padding: 0.5% 0%;
  width: 90%;
  color: red;
}
/*# sourceMappingURL=style.css.map */