@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
<<<<<<< HEAD
<<<<<<< HEAD
.container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(60%, rgba(0, 0, 0, 0.2))), url("../image/task-small.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2) 60%), url("../image/task-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
}

.container__moto {
  position: relative;
  top: 10%;
  font-size: 2rem;
  color: white;
  text-shadow: 0px 0px 5px black;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  width: 90%;
  margin: 0 auto;
}

.container__info {
  z-index: 1;
  position: absolute;
  top: 12.5vh;
  left: 60%;
  width: 8%;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.4rem;
}

.container__info img {
  width: 100%;
}

.container__info--text {
=======
=======
>>>>>>> parent of 1a2b201 (info)
i {
  z-index: 1;
  position: absolute;
  top: 3%;
  left: 3%;
  border: 1px solid black;
  padding: 1% 1.5%;
  border-radius: 0.5rem;
}

.info {
<<<<<<< HEAD
>>>>>>> parent of 1a2b201 (info)
=======
>>>>>>> parent of 1a2b201 (info)
  visibility: hidden;
  opacity: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 17vh;
  margin: 0 auto;
  position: absolute;
  bottom: 7vh;
  left: -53.5vw;
  background-color: rgba(82, 168, 82, 0.9);
  z-index: 1;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.8rem;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

<<<<<<< HEAD
<<<<<<< HEAD
.container__info--text h3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin: 0;
  padding: 0;
=======
=======
>>>>>>> parent of 1a2b201 (info)
i:hover .info {
  visibility: visible;
  opacity: 1;
}

.moto {
  font-size: 3rem;
  color: white;
  text-shadow: 0px 0px 5px black;
  position: relative;
  top: 10%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  width: 50%;
  margin: 0 auto;
}

.login {
  position: relative;
  top: 12%;
  text-align: center;
>>>>>>> parent of 1a2b201 (info)
}

.container__info--text p {
  margin: 0;
  padding: 0;
}

.container__info:hover .container__info--text {
  visibility: visible;
  opacity: 1;
}

.container__logReg {
  position: relative;
  margin: 0 auto;
  top: 14%;
  width: 90%;
  background-color: #ced7d8c2;
  border-radius: 0.5rem;
  height: 53vh;
}

.container__logReg--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 2%;
}

.container__logReg--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 5%;
}

.container__logReg--form > h2 {
  padding: 0;
  margin: 0 0 1% 0;
}

.container__logReg--form > input,
.container__logReg--form > button {
  font-size: 1.1rem;
  text-align: center;
  padding: 1.5% 2%;
  margin: 2% 0%;
  border-radius: 0.5rem;
  border: none;
}

.container__logReg--form > button {
  background-color: #ede6b9;
  color: #316879;
}

.container__logReg--form > button:hover {
  background-color: #829079;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.btnLogin,
.btnReg {
  border-radius: 0.5rem;
  padding: 1.5% 2%;
  text-align: center;
  background-color: #ede6b9;
  color: #316879;
  cursor: pointer;
  width: 40%;
}

.btnLogin:hover,
.btnReg:hover {
  background-color: #b9925e;
  color: white;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.active {
  background-color: #b9925e;
  color: white;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
}

.createdBy {
  position: fixed;
  bottom: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.createdBy > a {
  text-decoration: none;
  margin: 0% 2%;
  font-size: 1.1rem;
  color: white;
  text-shadow: 0px 0px 4px black;
}

.successfullyReg {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
  background-color: #ced7d8c2;
  border-radius: 0.5rem;
}

.successfullyReg p {
  font-size: 1.5rem;
}

.mainEditTask {
  background-color: #aed6dc;
}

.leftSide {
  display: none;
  position: absolute;
  top: 0%;
  background-color: #4a536b;
  width: 85%;
  height: 100vh;
  z-index: 1;
}

.leftSide__info {
  position: absolute;
  top: 10vh;
}

.leftSide__info--link img {
  position: absolute;
  top: -8vh;
  left: 82%;
  width: 8.5%;
}

.leftSide__helloUser {
  text-align: center;
  color: white;
  font-size: 2.2rem;
}

.leftSide__pic {
  width: 90%;
  margin: 5%;
}

.leftSide__pic--backgroung {
  background-color: white;
  width: 80%;
  margin: 5% auto;
}

.leftSide__noPic {
  color: white;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.205);
  width: 97%;
  margin-left: 1.5%;
  padding: 1% 0%;
  border-radius: 0.5rem;
}

.leftSide.isOpen {
  display: block;
}

.containerTasks {
  background-color: #aed6dc;
  height: 95vh;
}

.formAddRemembr {
  position: relative;
  left: 5%;
  width: 90%;
  padding: 3% 0%;
}

.formAddRemembr__taskAdd {
  width: 80%;
  border-bottom-left-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
  border: none;
}

.formAddRemembr__taskAdd::-webkit-input-placeholder {
  font-size: 1.2rem;
}

.formAddRemembr__taskAdd:-ms-input-placeholder {
  font-size: 1.2rem;
}

.formAddRemembr__taskAdd::-ms-input-placeholder {
  font-size: 1.2rem;
}

.formAddRemembr__taskAdd::placeholder {
  font-size: 1.2rem;
}

.formAddRemembr__taskSend {
  width: 15%;
  border-bottom-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  position: relative;
  right: 1%;
  font-size: 1.2rem;
  cursor: pointer;
}

.formAddRemembr__taskAdd, .formAddRemembr__taskSend {
  padding: 1.7% 1.5%;
  font-size: 1rem;
  border: none;
}

.remembers {
  overflow-y: auto;
  height: 80vh;
}

.remembers__eachTask {
  width: 85%;
  margin: 1% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  padding: 0.5% 0.3%;
  font-size: 1.3rem;
}

.remembers__eachTask--text {
  width: 70%;
}

.remembers__eachTask--date {
  font-size: 0.7rem;
}

.remembers__eachTask--editBtn {
  text-decoration: none;
  display: block;
  background-color: #12c01e;
  width: 68%;
}

.remembers__eachTask--editBtn img {
  width: 100%;
}

.remembers__eachTask--editBtn:hover {
  background-color: #097a11;
}

.remembers__eachTask--deleteBtn {
  background-color: #df2d2d;
  cursor: pointer;
  width: 80%;
  padding-top: 5%;
}

.remembers__eachTask--deleteBtn img {
  width: 100%;
}

.remembers__eachTask--deleteBtn:hover {
  background-color: #8b1e1e;
}

.remembers__eachTask--deleteBtn, .remembers__eachTask--editBtn {
  border: none;
  border-radius: 0.3rem;
}

.remembers__eachTask--deleteBtn:hover, .remembers__eachTask--editBtn:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.remembers__noTask {
  font-size: 2rem;
  text-align: center;
  color: #0a0a6e;
  background-color: rgba(255, 255, 255, 0.253);
  padding: 2% 0%;
}

.alertReset {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.3rem;
  padding: 0.5% 0%;
  width: 90%;
  color: red;
}

.containerReset {
  position: relative;
  top: 15vh;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  width: 50%;
  margin: 0 auto;
  padding: 3% 0%;
}

.containerReset__header {
  color: white;
  text-shadow: 0px 0px 5px black;
}

.containerReset__form > input {
  width: 50%;
  font-size: 1.1rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.containerReset__form > button {
  width: 10%;
  font-size: 1.1rem;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
  right: 3%;
}

.containerReset__form > input,
.containerReset__form > button {
  border: none;
  padding: 1.5% 2%;
  text-align: center;
}

.containerReset__backHome {
  border: none;
  padding: 1% 3%;
  text-align: center;
  background-color: #ede6b9;
  color: #316879;
  text-decoration: none;
  border-radius: 0.5rem;
  position: relative;
  top: 2vh;
}

.navbar {
  background-color: #ede6b9;
  padding: 0.8% 0%;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menuBtn {
  z-index: 3;
}

.navbar__menuBtn::after {
  font-size: calc(2.5rem + 0.1rem);
  content: "\2261";
}

.navbar__linkLogOut {
  width: 6%;
  padding-top: 1.5%;
}

.profileMain {
  background-color: #aed6dc;
}

.profileMain__deleteUser {
  position: absolute;
  top: 20%;
  left: 83%;
  font-size: 1.3rem;
  background-color: #f33c3c;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5% 0.7%;
  cursor: pointer;
  text-decoration: none;
}

.profileMain__content {
  width: 90%;
  margin: 5% auto;
  background-color: #ced7d8c2;
  border-radius: 0.5rem;
  height: 70vh;
}

.profileMain__content > h1 {
  width: 60%;
  text-align: center;
  margin: 3% auto;
  position: relative;
  top: 3%;
  color: #0a0a6e;
  font-size: 2.5rem;
}

.profileMain__displayDirection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
}

.profileMain__displayDirection h3, .profileMain__displayDirection p {
  margin: 1.5%;
  padding: 0;
}

.profileMain__displayDirection h3 {
  color: #0a0a6e;
}

.profileMain__leftSide {
  position: relative;
}

.profileMain__leftSide > img {
  position: relative;
  left: 5%;
  width: 100%;
  height: 55vh;
}

.profileMain__leftSide--deletePhoto {
  position: absolute;
  top: 90%;
  left: 8%;
}

.profileMain__leftSide--deletePhoto > button {
  font-size: 1.3rem;
  background-color: #f33c3c;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 4% 1%;
  width: 150%;
  cursor: pointer;
}

.profileMain__leftSide--deletePhoto > button:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background-color: #a11616;
}

.profileMain__leftSide--noPic {
  font-size: 2rem;
  width: 100%;
  border: 1px solid #0a0a6e;
  color: #0a0a6e;
  border-radius: 0.5rem;
}

.profileMain__rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  width: 35vw;
}

.profileMain__rightSide input,
.profileMain__rightSide button {
  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 1.5% 2%;
  text-align: center;
  border: none;
  width: 50%;
  margin: 0% auto;
}

.profileMain__rightSide > button {
  background-color: #ede6b9;
  cursor: pointer;
}

.profileMain__rightSide > button:hover {
  background-color: #b9925e;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.hideFileBtn {
  position: absolute;
  overflow: hidden;
  top: 5vh;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 0px;
  height: 0px;
}

label {
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 1.5% 15%;
  text-align: center;
  border: none;
  margin: 3% auto;
  background-color: white;
}

.sureDelete {
  text-align: center;
  position: relative;
  top: 15vh;
  width: 30%;
  margin: 0% auto;
  background-color: #ced7d8c2;
  border-radius: 0.5rem;
  padding: 5%;
}

.sureDelete p {
  font-size: 2rem;
}

.sureDelete__displayYesNo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sureDelete__deleteUserSure {
  width: 8vw;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #f33c3c;
  border-radius: 0.5rem;
  color: #f33c3c;
  padding: 1.5% 0.7%;
  margin-right: 10%;
  cursor: pointer;
}

.sureDelete__notDeleteUser {
  width: 8vw;
  font-size: 1.3rem;
  background-color: green;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5% 0%;
  margin-left: 10%;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 375px) and (min-height: 667px) {
  .container__info {
    top: 10.3vh;
    left: 60%;
  }
  .btnLogin,
  .btnReg {
    font-size: 1.2rem;
  }
}

@media (min-width: 375px) and (min-height: 812px) {
  .container__info {
    top: 8.5vh;
    left: 60%;
  }
}

@media (min-width: 411px) and (min-height: 731px) {
  .container__info {
    top: 9.5vh;
    width: 7%;
  }
}

@media (min-width: 411px) and (min-height: 823px) {
  .container__info {
    top: 8.4vh;
  }
}

@media (min-width: 768px) {
  .container__moto {
    padding: 1.5% 0%;
  }
  .container__logReg {
    width: 50%;
    top: 19%;
    height: 42vh;
  }
  .container__logReg--form {
    position: relative;
    top: 5vh;
  }
  .container__info {
    top: 11.7vh;
  }
  .container__info--text {
    width: 40vw;
    height: 14vh;
    left: -27vw;
    bottom: 5vh;
  }
}

@media (min-width: 1024px) {
  .container__logReg {
    width: 50%;
    top: 19%;
    height: 35vh;
  }
  .container__info {
    top: 10.1vh;
    left: 57%;
  }
  .container__info--text {
    height: 12vh;
    left: -25vw;
  }
  .btnLogin,
  .btnReg {
    top: 2vh;
  }
}

@media (min-width: 1875px) {
  .container__moto {
    width: 35%;
    padding: 0.8% 0%;
  }
  .container__logReg {
    width: 35%;
    top: 15%;
    height: 53vh;
  }
  .container__logReg--form {
    top: 3vh;
  }
  .container__info {
    width: 4%;
    top: 12vh;
    left: 56%;
  }
  .container__info--text {
    width: 20vw;
    height: 13vh;
    left: -13vw;
  }
  .btnLogin,
  .btnReg {
    position: relative;
    top: 0vh;
  }
}

@media (min-width: 1900px) {
  .container__logReg {
    width: 35%;
    top: 17%;
    height: 50vh;
  }
  .container__logReg--form {
    top: 4vh;
  }
  .btnLogin,
  .btnReg {
    position: relative;
    top: 1vh;
  }
}

@media (min-width: 768px) {
  .navbar__menuBtn {
    position: relative;
    right: 4%;
  }
  .navbar__link {
    width: 5%;
  }
  .navbar__linkLogOut {
    width: 4%;
  }
  .navbar__link, .navbar__linkLogOut {
    padding-top: 1%;
  }
  .navbar__timeNow, .navbar__dateNow {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  .navbar__timeNow, .navbar__dateNow {
    font-size: 1.7em;
  }
}

@media (min-width: 1875px) {
  .navbar {
    background-color: #ede6b9;
    padding: 0.5% 0%;
    font-size: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__menuBtn {
    display: none;
  }
  .navbar__link {
    width: 3%;
  }
  .navbar__linkLogOut {
    width: 1.5%;
    padding: 0;
  }
  .navbar__timeNow, .navbar__dateNow {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .leftSide {
    width: 40%;
  }
  .remembers__eachTask--date {
    font-size: 0.9rem;
  }
}

@media (min-width: 1875px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .leftSide {
    display: block;
    width: 20%;
    position: relative;
  }
  .leftSide__info--link img {
    left: 5%;
    width: 8%;
  }
  .containerTasks {
    background-color: #aed6dc;
    width: 80%;
  }
  .formAddRemembr {
    position: relative;
    left: 11%;
    width: 80%;
    padding: 3% 0%;
  }
  .formAddRemembr__taskAdd {
    width: 80%;
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    border: none;
  }
  .formAddRemembr__taskAdd::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  .formAddRemembr__taskAdd:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .formAddRemembr__taskAdd::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .formAddRemembr__taskAdd::placeholder {
    font-size: 1.2rem;
  }
  .formAddRemembr__taskAdd, .formAddRemembr__taskSend {
    padding: 0.8% 1%;
    font-size: 1.2rem;
    border: none;
  }
  .remembers {
    overflow-y: auto;
    height: 80vh;
  }
  .remembers__eachTask--text {
    width: 76%;
  }
  .remembers__eachTask--editBtn {
    width: 43%;
    padding: 0% 5%;
  }
  .remembers__eachTask--deleteBtn {
    width: 50%;
  }
}

* {
  font-family: 'Itim', cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

img {
  width: 100%;
}

input {
  outline: none;
}

.alert {
  position: absolute;
  top: -13%;
  font-size: 1.3rem;
  padding: 0.5% 0%;
  width: 90%;
  color: red;
}
/*# sourceMappingURL=style.css.map */