.navbar {
    background-color: #ede6b9;
    padding: 0.8% 0%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__timeNow,
    &__dateNow {
        margin: 0% 1%;
        width: 7%;
        text-align: center;
    }

    &__link {
        text-decoration: none;
        border-radius: 0.6rem;
        padding: 0.3% 0.5%;

        &:hover {
            background-color: rgb(255, 255, 255);
            transition: $btnTransition;
        }
    }

    &__linkLogOut {
        position: relative;
        left: 70%;
    }
}

.navbar__linkBack {
    position: relative;
    left: 1.5%;
    text-decoration: none;
    border-radius: 0.6rem;
    padding: 0.3% 0.5%;

    &:hover {
        background-color: rgb(255, 255, 255);
        transition: $btnTransition;
    }
}

