@media (min-width:768px) {
    .navbar {

        &__menuBtn {
            position: relative;
            right: 4%;
        }

        &__link {
            width: 5%;
        }

        &__linkLogOut {
            width: 4%;
        }

        &__link,
        &__linkLogOut {
            padding-top: 1%;
        }

        &__timeNow,
        &__dateNow {
            font-size: 1.2em;
        }
    }
}

@media (min-width:1024px) {
    .navbar {

        &__timeNow,
        &__dateNow {
            font-size: 1.7em;
        }
    }
}

@media (min-width:1875px) {
    .navbar {
        background-color: #ede6b9;
        padding: 0.5% 0%;
        font-size: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__menuBtn {
            display: none;
        }

        &__link {
            width: 3%;
        }

        &__linkLogOut {
            width: 1.5%;
            padding: 0;
        }

        &__timeNow,
        &__dateNow {
            font-size: 1.5em;
        }
    }
}