<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="/style/dist/style.css">
</head>

<body>

    <main class="resetPassPage">
        <!-- Info reset pass-->
        <div class="resetPassPage__sended">
            <h2 class="resetPassPage__sended--succsess">
                We send you email for reset your password, please check your inbox!
            </h2>

            <a href="/" class="resetPassPage__sended--backHome">Home page</a>
        </div>
    </main>
</body>