<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="/style/dist/style.css">
</head>

<body>
    <main class="deletedUser">
        <div class="deletedUser__deleted">
            <h1>Your account is deleted</h1>

            <p>We hope you will come back in the future</p>

            <a href="/" class="deletedUser__backToMainBtn">Home page</a>
        </div>
    </main>
</body>

</html>