<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="/style/style.css">
</head>

<body class="container">
    <%- include('./components/navbar') %>

        <div class="sureDelete">
            <h1>Your account is deleted</h1>

            <p>We hope you will come back in the future</p>

            <a href="/" style="text-decoration: none; font-size: 1.5rem;">Home page</a>

        </div>
</body>

</html>