<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <!-- </%- include('./components/navbar') %> -->
    <div class="container">

        <div class="moto">Stay organized, just login and get more done!</div>

        <div class="container__logReg">
            <div class="login" id="login">
                <%- include('./components/login') %>
            </div>

            <div class="reg" id="registration" style="display: none;">
                <%- include('./components/regist') %>
            </div>
        </div>

        <div class="createdBy">
            <a href="https://katya-ru-fullstack.herokuapp.com/">Created by Katya Rukosuev</a>
            <div>|</div>
            <a href="mailto:katya.ru.fullstack@gmail.com">Contact</a>
        </div>

    </div>
    <!-- <script src="/jquery-3.6.0.min.js"></script>
    <script src="/jquery.js"></script> -->

    <script src="./dist/index.js"></script>

</body>

</html>