<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link href="style/style.css"> -->

</head>

<body>

    <div class="container">

        <!-- Login -->
        <div id="reset">
            <% if (error) { %>
                <p class="alert">
                    <%- error %>
                </p>
                <% } %>
                    <h2>New password</h2>
                    <div>
                        <form action="/auth/password" method="POST">
                            <input type="password" id="password" name="password" class="form-control mb-3" required
                                placeholder="Enter new password">
                            <span data-error-message="Enter password"></span>

                            <!-- <input type="hidden" name="_csrf" value="</%-csrf%>"> -->
                            <input type="hidden" name="userID" value="<%-userId%>">
                            <input type="hidden" name="token" value="<%-token%>">

                            <button class="btn btn-success" type="submit">Updait</button>
                    </div>
                    </form>
        </div>


    </div>

    <script src="/app.js"></script>
</body>