<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body class="container">
    <%- include('./components/navbar') %>

    <div class="successfullyReg">
        <h1>Hello, <%-user.name%>!</h1>

        <p>You have successfully registered!</p>
        <p>Follow to the <a href="/">main page</a> to login</a></p>
    </div>

</body>

</html>