<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <div class="container">
        <%- include('./components/navbar') %>
            <!-- Info reset pass-->
            <h2>
                We send you email for reset your password, please check your inbox!
            </h2>

            <a href="/">Home page</a>
    </div>
</body>