<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <div class="container">
        <%- include('./components/navbar') %>
            <!-- Info reset pass-->
            <div class="containerReset">
                <h1 class="containerReset__header">
                    We send you email for reset your password, please check your inbox!
                </h1>

                <a href="/" class="containerReset__backHome">Home page</a>
            </div>
    </div>
</body>