<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="container">
        <%- include('./components/navbar') %>
            <!-- Reset -->
            <div id="reset" class="containerReset">
                <% if (error) { %>
                    <span class="alertReset">
                        <%- error %>
                    </span>
                    <% } %>
                        <h1 class="containerReset__header">Reset the password</h1>
                        <div>
                            <form action="/auth/reset" method="POST" class="containerReset__form">
                                <input type="email" id="email" name="email" class="form-control mb-3" required
                                    placeholder="Enter Email address">
                                <span data-error-message="Enter Email address"></span>

                                <input type="hidden" name="_csrf" value="<%-csrf%>">

                                <button class="btn btn-success resetBtn" type="submit">Reset</button>
                        </div>
                        </form>
            </div>


    </div>
</body>