.profileMain {
    background-color: $mainBackgroung;

    &__content {
        width: 90%;
        margin: 5% auto;
        background-color: $whiteBackground;
        border-radius: $borderRadius;
        height: 70vh;

        &>h1 {
            width: 60%;
            text-align: center;
            margin: 3% auto;
            position: relative;
            top:3%;
            color:$deepBlue;
            font-size: 2.5rem;
        }
    }

    &__displayDirection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        height: 55vh;
       
        & h3, & p {
            margin: 1.5%;
            padding: 0;
        }

        & h3 {
            color:$deepBlue;
        }
    }

    &__leftSide {
        &>img {
            width: 100%;
            height: 55vh;
        }

        &--noPic {
            font-size: 2rem;
            width: 100%;
            border: 1px solid $deepBlue;
            color:$deepBlue;
            border-radius: $borderRadius;
            
        }
    }

    &__rightSide {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        text-align: center;
        width: 35vw;

        & input,
        & button {
            border-radius: $borderRadius;
            font-size: 1.3rem;
            padding: $paddingInputButton;
            text-align: center;
            border: none;
            width: 50%;
            margin: 0% auto;
        }

        &>button {
            background-color: $ligthbrown;

            &:hover {
                background-color: $brownBackgroung;
                transition: $btnTransition;
            }
        }
    }
}




.hideFileBtn {
    position: absolute;
    overflow:hidden;
    top: 5vh;
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 0px;
    height: 0px;
}

label {
    cursor: pointer;
    border-radius: $borderRadius;
    font-size: 1.3rem;
    padding: 1.5% 15%;
    text-align: center;
    border: none;
    margin: 3% auto;
    background-color: white;
}