$pageHeigth: 100vh;

$whiteBackground: #ced7d8c2;
$brownBackgroung:#b9925e;
$ligthbrown:#ede6b9;
$deepBlue:rgb(10, 10, 110);
$backBtn:#316879;
$dirtyGreen:#829079;
$mainBackgroung:#aed6dc;

$paddingInputButton: 1.5% 0%;
$btnShadow: 0px 0px 3px grey;
$btnTransition: 0.3s all;

$borderRadius: 0.5rem;

$inputFontSize:1.1rem;