.main {
    display: flex;
    flex-direction: row;
}

.leftSide,
.containerTasks {
    height: 94.6vh;
}

.leftSide {
    background-color: #4a536b;
    width: 20%;
    text-align: center;

    &__helloUser {
        color: white;
        font-size: 2.5rem;
        margin-top: 5%;
    }

    &__noPic {
        color: white;
        font-size: 1.3rem;
        background-color: rgba(255, 255, 255, 0.205);
        width: 97%;
        margin-left: 1.5%;
        padding: 1% 0%;
        border-radius: $borderRadius;
    }
}

.containerTasks {
    width: 80%;
    background-color: #aed6dc;
    margin: 0;
}

.formAddRemembr {
    position: relative;
    left: 23%;
    width: 60%;
    margin: 3% 0%;

}

.taskAdd {
    width: 80%;
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    border: none;
    // text-align: center;

    &::placeholder {
        font-size: 1.2rem;
    }
}

.taskSend {
    width: 10%;
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    position: relative;
    right: 1%;
    font-size: 1.2rem;
}

.taskAdd,
.taskSend {
    padding: 0.8% 1.2%;
    font-size: 1rem;
    border: none;
}

.remembers {
    &__tasks {
    // background-color: yellow;
    overflow-y: auto;
    height: 80vh;
}
    &__noTask{
        font-size: 2rem;
        text-align: center;
        color: rgb(10, 10, 110);
        background-color: rgba(255, 255, 255, 0.253);
        padding: 2% 0%;
    }
}

.eachTask {
    // background-color: yellow;
    width: 85%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0.5% 0%;
    font-size: 1.3rem;

    &__text {
        width: 70%;
    }

    &__date{
        font-size: 0.9rem;
        position: relative;
        top:1vh;
    }

    &__editBtn{
        text-decoration: none;
        background-color: rgb(18, 192, 30);
    }

    &__deleteBtn {
        background-color: rgb(223, 45, 45);
    }
    &__deleteBtn, &__editBtn{
        font-size: 1rem;
        padding: 2% 15%;
        border: none;
        color:white;
        border-radius: 0.3rem;
    }
}