<form action="/auth/login" method="POST" class="indexPage__logRegForms--form">
    <% if (loginError) { %>
        <span class="alert">
            <%- loginError %>
        </span>
        <% } %>

            <% if (registError) { %>
                <span class="alert">
                    <%- registError %>
                </span>
                <% } %>

                    <h2>Login</h2>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>

                    <p onclick="hendleShowFormReg()" class="indexPage__logRegForms--regBtnSwitch">Registration</p>

                    <!-- <p>
                        <a href="/auth/reset" class="indexPage__logRegForms--forgotPass">Forgot password?</a>
                    </p> -->

                    <input type="hidden" name="_csrf" value="<%- csrf%>">

                    <button type="submit" class="indexPage__logRegForms--btn">Login</button>
</form>