<%console.log(title)%>

    <% if (title=="Tasks" ) { %>
        <% if (user) { %>
            <nav class="navBar">
                <div class="navBar__profilePic" id="profileBtn">
                    <img class="navBar__profilePic--photo" src="<%- user.avatarUrl %>" alt="<%- user.name %>">
                </div>

                <div class="navBar__menu" id="menu">
                    <a href="/profile" class="navbar__link">Edit profile</a>
                    <a href="/auth/logout" class="navbar__link navbar__linkLogOut">Logout</a>
                </div>
            </nav>
            <% } %>
                <% } else if (title=="Edit task" || title=="Page not found" || title=="Delete user" ||
                    title=="Your profile" ){%>
                    <nav class="navBar editTask">

                        <a href="/remembers">Back</a>
                        <a href="/auth/logout" class="navbar__link navbar__linkLogOut">Logout</a>
                    </nav>
                    <% } %>

                        <script src="/ts/dist/navbar.js"></script>