<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar__dateNow"></div>
        <div class="navbar__timeNow"></div>
        <a href="/auth/logout" class="navbar__link">Logout</a>
    </div>

    <script src="navbar.js"></script>
</body>

</html>