<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <%console.log(title)%>
        <% if (title=="Home Page" ) { %>
            <% } %>

                <% if (title=="Tasks" ) { %>
                    <div class="navbar">
                        <div class="navbar__dateNow"></div>
                        <div class="navbar__timeNow"></div>
                        <a href="/auth/logout" class="navbar__link">Logout</a>
                    </div>
                    <% } %>

                        <% if (title=="Forgot password" ) { %>
                            <div class="navbar">
                                <a href="/" class="navbar__linkBack">Back to main</a>
                            </div>
                            <% } %>
                            
                            <% if (title=="Create password" ) { %>
                                <div class="navbar">
                                    <a href="/" class="navbar__linkBack">Back to main</a>
                                </div>
                                <% } %>


                                <script src="navbar.js"></script>
</body>

</html>